################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdvancedC#/Class 2/ConsoleApp1/ConsoleApp2/bin/Debug
/AdvancedC#/Class 2/ClassLibrary1/obj/Debug
/AdvancedC#/Class 2/ClassLibrary2/obj
/AdvancedC#/Class 2/ConsoleApp1/Auto/obj/Debug
/AdvancedC#/Class 2/ConsoleApp1/ClassLibrary1/bin/Debug
/AdvancedC#/Class 2/ConsoleApp1/ClassLibrary1/obj/Debug
/AdvancedC#/Class 2/ConsoleApp1/ConsoleApp1/bin/Debug
/AdvancedC#/Class 2/ConsoleApp1/ConsoleApp1/obj/Debug
/AdvancedC#/Class 2/ConsoleApp1/ConsoleApp2/obj/Debug
/AdvancedC#/Class 2/ConsoleApp1/obj/Debug
/AdvancedC#/Class 2/ConsoleApp1/Polymorphism/obj/Debug
/AdvancedC#/Class 2/ClassLibrary1/.vs/ClassLibrary1/v15
/AdvancedC#/Class 2/ConsoleApp1/.vs/ConsoleApp1/v15/Server/sqlite3
/Homework#5/.vs
/Homework#5/ConsoleApp1/.vs/ConsoleApp1/v15
/Homework#5/ConsoleApp1/bin/Debug
/Homework#5/ConsoleApp1/obj/Debug
