################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdvancedC#/Class 2/ConsoleApp1/ConsoleApp2/bin/Debug
